<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    
   <div class="box">
        <div class="sel">

          <!-- 1 -->
              <div class="bar">
                <div class="txt">Name</div>:&nbsp; <input>
              </div>
          <!-- 2 -->
              <div class="bar">
                <div class="txt">Roll No.</div>:&nbsp; <input>
               </div>
          <!-- 3 -->
          <div class="bar">
              <div class="txt">Admission No.</div>:&nbsp; <input>
            </div>
          <!-- 4 -->
            <div class="bar">
              <div class="txt" >Collage</div>:&nbsp; <input>
             </div>
           <!-- 4 -->
           <div class="bar" style="margin-top:6px;">
              <div class="txt"></div> &nbsp; 
              <button  style="width:50%;height:40px;background-color: #effedf;color:black;display: flex;justify-content: center;align-items: center;">Register</button>
             </div>
          



           </div>
          
   </div>
    
</body>
 
</html>